# HTTP
EXTRACT_WORKFLOW_TARGET=http://localhost:8000/extract
TRANSFORM_WORKFLOW_TARGET=http://localhost:8001/transform
LOAD_WORKFLOW_TARGET=http://localhost:8002/load

# MQTT
#EXTRACT_WORKFLOW_TARGET=extract
#TRANSFORM_WORKFLOW_TARGET=transform
#LOAD_WORKFLOW_TARGET=load

CLIENT_PROTOCOL=http
CLIENT_TIMEOUT=5000

CLIENT_MQTT_BROKER_URL=mqtt://localhost:1883
CLIENT_MQTT_NAMESPACE=stack1
CLIENT_MQTT_SCHEMA_VERSION=1.0

CACHE_SERVICE_URL=http://localhost:8084/v1/cache/
CACHE_NAMESPACE=etl

PORT=3000
